{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div class="container my-3">
        <h2>Login to your iNotebook account</h2>
        <form action="/handlelogin" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control rounded-1" id="username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control rounded-1" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-danger rounded-1">Submit</button>
        </form>
    </div>
{% endblock body %}